.imagencentro >img{
	width:100%;
}
.imagencentro p{
	text-align: center;
}
.form-horizontal .control-label {
    text-align: left;
}
.resaltador{
	color:red;
}
.table-hover > tbody > tr:hover {
    background-color: #ffeeba !important;
   
}
.celda-adjunto {
    width: 25px !important;
}


